<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwXRR-DAAX8m6WrWkh4779pvCZfNOjsBo</string>
	<key>GCM_SENDER_ID</key>
	<string>940015812588</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kritika.uLearn</string>
	<key>PROJECT_ID</key>
	<string>u-learn-023ffed</string>
	<key>STORAGE_BUCKET</key>
	<string>u-learn-023ffed.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940015812588:ios:c79912a2b3718405bb4ac9</string>
</dict>
</plist>